poc/2_extract_validate.workflow.json
{
  "name": "Aushang — POC 2 · LLM Extract → Schema-Validate (advises)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "redacted_text", "type": "string", "value": "Elternabend am 24.07.2026 um 18:30 Uhr im Gruppenraum. Anmeldung bei [NAME_1] bis Freitag. Sommerfest folgt im August." },
            { "id": "a2", "name": "capture_date", "type": "string", "value": "2026-06-15" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Redacted Text (from POC 1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-500, 320],
      "notes": "Input is ALREADY redacted ([NAME_1] preserved verbatim). capture_date anchors relative dates (Europe/Berlin). Edit the text to test the validator (e.g. add a bad date to see it caught)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 500,\n  \"system\": \"Du bist ein Extraktions-Assistent für deutsche Aushänge. Du BERÄTST nur — du veröffentlichst nichts. Gib AUSSCHLIESSLICH ein JSON-Objekt zurück, keinen Fließtext, mit GENAU: content_type_suggested (eines von 'meal_plan','reflection','health_notice','event_notice','info'), title (kurz), events (Array von {title, starts_on (ISO JJJJ-MM-TT), time_start ('HH:MM' oder ''), all_day (bool)}), ambiguous_dates (Array von Strings, die du NICHT sicher auflösen konntest). Erfinde KEINE Daten. Platzhalter wie [NAME_1] unverändert lassen. Relative Daten gegen capture_date auflösen.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify(JSON.stringify({ redacted_text: $json.redacted_text, capture_date: $json.capture_date })) }} }\n  ]\n}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Claude — Suggest + Extract (AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-280, 320],
      "notes": "THE AI STEP. Receives REDACTED text only. Returns a SUGGESTED content_type + extracted fields. It ADVISES — it cannot publish and cannot set the confirmed type. Needs ANTHROPIC_API_KEY (or paste a key). Cheap model: claude-haiku-4-5."
    },
    {
      "parameters": {
        "jsCode": "// PARSE + SCHEMA-VALIDATE the AI's suggestion (no AI here).\n// Mirrors src/lib/content/extraction-schema.ts: validation FAILURE => the post\n// goes to the MANUAL path; it is NEVER auto-published. Fail-closed.\nconst TYPES = ['meal_plan','reflection','health_notice','event_notice','info'];\nconst ISO = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst HHMM = /^([01]\\d|2[0-3]):[0-5]\\d$/;\n\nlet out = { ok: false, errors: ['no/invalid AI response (fail-closed)'], suggestion: null };\ntry {\n  const raw = $json.content?.[0]?.text ?? $json.text ?? '';\n  const obj = JSON.parse(raw.replace(/```json|```/g, '').trim());\n  const errors = [];\n\n  // 1. content_type_suggested must be in the closed taxonomy.\n  if (!TYPES.includes(obj.content_type_suggested)) errors.push('content_type_suggested not in taxonomy');\n  // 2. title present.\n  if (typeof obj.title !== 'string' || !obj.title.trim()) errors.push('title missing');\n  // 3. events: every starts_on must be a real ISO date; times valid or empty.\n  const events = Array.isArray(obj.events) ? obj.events : [];\n  events.forEach((e, i) => {\n    if (!ISO.test(e.starts_on || '')) errors.push(`event[${i}].starts_on not ISO`);\n    if (e.time_start && !HHMM.test(e.time_start)) errors.push(`event[${i}].time_start invalid`);\n    if (typeof e.all_day !== 'boolean') errors.push(`event[${i}].all_day not boolean`);\n  });\n  // 4. ambiguous_dates must be an array (the model must DECLARE what it couldn't resolve, not invent).\n  if (!Array.isArray(obj.ambiguous_dates)) errors.push('ambiguous_dates not an array');\n\n  if (errors.length === 0) out = { ok: true, errors: [], suggestion: obj };\n  else out = { ok: false, errors, suggestion: obj };\n} catch (e) {\n  out = { ok: false, errors: ['unparseable AI JSON (fail-closed)'], suggestion: null };\n}\n\nreturn [{ json: { ...out, route: out.ok ? 'to_review_gate' : 'to_manual_path' } }];"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Schema Validate (no AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 320],
      "notes": "The deterministic gate on the AI's suggestion: closed taxonomy, ISO dates only, valid times, declared ambiguity. FAIL => manual path, NEVER auto-publish. This is 'LLM advises, code decides' at the extraction step."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Schema valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [160, 320],
      "notes": "TRUE = the suggestion is well-formed -> hand to the human review gate (POC 3). FALSE = malformed -> the manual path (admin types it). Either way NOTHING is published here."
    },
    {
      "parameters": {},
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "→ Review gate (human confirms)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [400, 200],
      "notes": "Valid suggestion -> the admin reviews it (POC 3). The suggestion is a DRAFT/pre-fill, not a publish."
    },
    {
      "parameters": {},
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "→ Manual path (admin types it)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [400, 440],
      "notes": "Invalid/unparseable -> the post is created but the admin enters the content by hand. Fail-closed: a bad AI response can never auto-publish."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Redacted Text (from POC 1)", "type": "main", "index": 0 }]] },
    "Redacted Text (from POC 1)": { "main": [[{ "node": "Claude — Suggest + Extract (AI)", "type": "main", "index": 0 }]] },
    "Claude — Suggest + Extract (AI)": { "main": [[{ "node": "Schema Validate (no AI)", "type": "main", "index": 0 }]] },
    "Schema Validate (no AI)": { "main": [[{ "node": "Schema valid?", "type": "main", "index": 0 }]] },
    "Schema valid?": {
      "main": [
        [{ "node": "→ Review gate (human confirms)", "type": "main", "index": 0 }],
        [{ "node": "→ Manual path (admin types it)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
