poc/3_should_cost_gap.workflow.json
{
  "name": "SCM Master POC 3 — Should-Cost Gap",
  "nodes": [
    {
      "parameters": {},
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 300]
    },
    {
      "parameters": {
        "jsonOutput": "={\n  \"product\": \"PowerEdge R760 · 2U server\",\n  \"vendor_quote\": 8420,\n  \"bom\": [\n    { \"component\": \"DRAM (DDR5)\", \"method\": \"teardown\", \"base_cost\": 1850, \"commodity_index\": 1.18 },\n    { \"component\": \"NAND flash\",  \"method\": \"teardown\", \"base_cost\": 1100, \"commodity_index\": 0.92 },\n    { \"component\": \"chassis/metal\",\"method\": \"teardown\", \"base_cost\": 420,  \"commodity_index\": 1.05 },\n    { \"component\": \"PCB + PSU\",    \"method\": \"teardown\", \"base_cost\": 380,  \"commodity_index\": 1.00 },\n    { \"component\": \"CPU\",          \"method\": \"reference_price\", \"list_price\": 3200, \"discount_band\": 0.30 }\n  ],\n  \"overhead_pct\": 0.10,\n  \"sga_pct\": 0.08,\n  \"margin_pct\": 0.12\n}",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Quote + BOM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 300],
      "notes": "A vendor quote + the bill of materials. Teardown lines move with a commodity index; CPU is a list-price benchmark band (the honest method for silicon). No personal data."
    },
    {
      "parameters": {
        "jsCode": "// DETERMINISTIC clean-sheet teardown (mirrors services/costing.py).\n// 5-element build-up: material -> +overhead -> +SG&A -> +margin = should-cost floor/target.\nconst d = $json;\nconst c2 = (x) => Math.round(x * 100) / 100;\n\n// 1. Direct material per component.\nlet material = 0;\nfor (const ln of d.bom) {\n  if (ln.method === 'teardown')      material += ln.base_cost * ln.commodity_index;\n  else if (ln.method === 'reference_price') material += ln.list_price * (1 - ln.discount_band);\n}\n\n// 2-5. Build up to floor + target.\nconst works_cost = material * (1 + d.overhead_pct);     // + manufacturing overhead\nconst should_cost_floor = works_cost * (1 + d.sga_pct); // + SG&A  (our cost floor)\nconst target_price = should_cost_floor * (1 + d.margin_pct); // + fair margin (target)\n\n// Gaps vs the vendor quote.\nconst gap_to_target = d.vendor_quote - target_price;\nconst gap_to_floor  = d.vendor_quote - should_cost_floor;\nconst gap_pct = target_price > 0 ? (gap_to_target / target_price) : 0;\n\nreturn [{ json: {\n  product: d.product,\n  vendor_quote: d.vendor_quote,\n  material: c2(material),\n  should_cost_floor: c2(should_cost_floor),\n  target_price: c2(target_price),\n  gap_to_target: c2(gap_to_target),     // the addressable negotiation saving\n  gap_to_floor: c2(gap_to_floor),\n  gap_pct: Math.round(gap_pct * 1000) / 10,\n  verdict: gap_to_target > 0 ? 'quote ABOVE fair target — negotiate' : 'quote at/below target — fair'\n}}];"
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Clean-Sheet Should-Cost (no AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 300],
      "notes": "The cost numbers a buyer takes into a negotiation are COMPUTED here — never generated by a model. Commodity-indexed material + the 5-element build-up = a defensible floor and target."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 220,\n  \"system\": \"You are a procurement negotiator. You receive an ALREADY-COMPUTED should-cost analysis (floor, target, gap). Do NOT recompute any number — copy figures exactly. In 2 short sentences, draft the opening negotiation line a buyer would use, grounded in the computed gap. Plain text.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify(JSON.stringify($json)) }} }\n  ]\n}",
        "options": {}
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Claude — Negotiation Line (AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-40, 300],
      "notes": "AI ADVISES — drafts the negotiation framing OVER the computed gap. It cannot change the cost numbers. Needs ANTHROPIC_API_KEY."
    },
    {
      "parameters": {
        "jsCode": "const calc = $('Clean-Sheet Should-Cost (no AI)').item.json;\nlet line = '(AI line unavailable — the computed gap stands on its own)';\ntry { line = ($json.content?.[0]?.text ?? $json.text ?? line).trim(); } catch (e) {}\nreturn [{ json: { ...calc, ai_negotiation_line: line } }];"
      },
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Combine (gap + AI line)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Quote + BOM", "type": "main", "index": 0 }]] },
    "Quote + BOM": { "main": [[{ "node": "Clean-Sheet Should-Cost (no AI)", "type": "main", "index": 0 }]] },
    "Clean-Sheet Should-Cost (no AI)": { "main": [[{ "node": "Claude — Negotiation Line (AI)", "type": "main", "index": 0 }]] },
    "Claude — Negotiation Line (AI)": { "main": [[{ "node": "Combine (gap + AI line)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
