poc/4_capacity_guard.workflow.json
{
  "name": "SCM Master POC 4 — Capacity Over-Order Guard",
  "nodes": [
    {
      "parameters": {},
      "id": "c1111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "g1", "name": "warehouse_capacity", "type": "number", "value": 200 },
            { "id": "g2", "name": "on_hand", "type": "number", "value": 26 },
            { "id": "g3", "name": "inbound_reserved", "type": "number", "value": 78 },
            { "id": "g4", "name": "requested_units", "type": "number", "value": 150 }
          ]
        },
        "options": {}
      },
      "id": "c2222222-2222-4222-8222-222222222222",
      "name": "Order + Capacity",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 300],
      "notes": "An order request (150 units) against a warehouse: cap 200, 26 on hand, 78 already inbound. Free-to-order = 200 - 26 - 78 = 96. So 150 must be CLAMPED to 96. Edit requested_units to 50 to see it pass."
    },
    {
      "parameters": {
        "jsCode": "// The SERVER-SIDE OVER-ORDER GUARD (mirrors planning.check_order_capacity).\n// Inbound is RESERVED capacity so you don't over-order into space about to fill.\nconst d = $json;\nconst free_to_order = Math.max(0, d.warehouse_capacity - d.on_hand - d.inbound_reserved);\nconst committed = d.on_hand + d.inbound_reserved;\nconst committed_pct = d.warehouse_capacity > 0 ? Math.round(100 * committed / d.warehouse_capacity) : 0;\nconst req = Math.max(0, d.requested_units);\n\nlet verdict, allowed, message;\nif (req <= free_to_order)      { verdict = 'ok';     allowed = req;            message = `OK — ${req} fits (${free_to_order} free).`; }\nelse if (free_to_order > 0)    { verdict = 'clamp';  allowed = free_to_order;   message = `CLAMPED — only ${free_to_order} of ${req} fit; reduce or free space.`; }\nelse                           { verdict = 'reject'; allowed = 0;               message = `REJECTED — warehouse full (0 free).`; }\n\nreturn [{ json: {\n  warehouse_capacity: d.warehouse_capacity,\n  on_hand: d.on_hand, inbound_reserved: d.inbound_reserved,\n  committed, committed_pct,\n  free_to_order, requested: req,\n  verdict, allowed, message\n}}];"
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Over-Order Guard (no AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 300],
      "notes": "The guard is DETERMINISTIC and enforced here — no AI involved. An over-order is refused or clamped, never placed. This is the 'never over-order' invariant the MVP enforces server-side (HTTP 422)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cc1",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "ok",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4444444-4444-4444-8444-444444444444",
      "name": "Fits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-40, 300]
    },
    {
      "parameters": {},
      "id": "c5555555-5555-4555-8555-555555555555",
      "name": "PLACE the order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [200, 200],
      "notes": "TRUE branch: it fits → proceed to stage/place."
    },
    {
      "parameters": {},
      "id": "c6666666-6666-4666-8666-666666666666",
      "name": "REFUSE / CLAMP (422)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [200, 440],
      "notes": "FALSE branch: clamp to free-to-order, or reject if full. In the MVP this is an HTTP 422 the buyer sees in the New-Order modal."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Order + Capacity", "type": "main", "index": 0 }]] },
    "Order + Capacity": { "main": [[{ "node": "Over-Order Guard (no AI)", "type": "main", "index": 0 }]] },
    "Over-Order Guard (no AI)": { "main": [[{ "node": "Fits?", "type": "main", "index": 0 }]] },
    "Fits?": {
      "main": [
        [{ "node": "PLACE the order", "type": "main", "index": 0 }],
        [{ "node": "REFUSE / CLAMP (422)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
