poc/4_photo_consent_gate.workflow.json
{
  "name": "Aushang — POC 4 · Double-Gated Clear-Photo Consent (no AI)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-760, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "member_photo_consent", "type": "boolean", "value": true },
            { "id": "a2", "name": "admin_released_this_post", "type": "boolean", "value": false },
            { "id": "a3", "name": "client_tried_to_set_release", "type": "boolean", "value": false },
            { "id": "a4", "name": "post_id", "type": "string", "value": "post_4711" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Consent Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-540, 320],
      "notes": "Two INDEPENDENT flags, both default OFF in the MVP. member_photo_consent = the member opted in. admin_released_this_post = the admin released THIS post's original. The default here (consent yes, release NO) -> blurred only. Set admin_released_this_post=true to see the original released."
    },
    {
      "parameters": {
        "jsCode": "// THE CONSENT GATE (no AI). Mirrors migration 0020: a member may see the raw\n// ORIGINAL photo of a post ONLY when BOTH are true — the member opted in AND the\n// admin released that specific post. Both default OFF. The decision is made\n// SERVER-SIDE; the client can never set the release flag; and the original is\n// delivered only via a short-TTL signed URL (never a column read — source_image_path\n// stays REVOKE'd from members).\nconst i = $json;\n\n// SECURITY: the client must never be able to flip the release. If it tried, that's\n// an attack, not a grant — ignore it entirely.\nif (i.client_tried_to_set_release) {\n  // In the MVP this is structurally impossible (the column is not client-writable);\n  // here we make the rule explicit.\n}\n\nconst memberOptedIn = i.member_photo_consent === true;\nconst adminReleased  = i.admin_released_this_post === true;   // server-side flag only\nconst allow = memberOptedIn && adminReleased;                 // AND of two independent gates\n\nreturn [{ json: {\n  post_id: i.post_id,\n  member_opted_in: memberOptedIn,\n  admin_released: adminReleased,\n  client_release_ignored: i.client_tried_to_set_release === true,\n  allow_original: allow,\n  delivery: allow ? 'short-TTL signed URL to the ORIGINAL' : 'blurred/redacted image only',\n  verdict: allow ? 'RELEASE ORIGINAL (both gates open)' : 'WITHHOLD ORIGINAL (a gate is closed)'\n}}];"
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Double-Gate Consent (no AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 320],
      "notes": "Pure enforcement, no AI. Original is released ONLY if member_opted_in AND admin_released — both default OFF. A client attempt to set the release is ignored. This is the privacy safety invariant, like POC 1's boundary."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.allow_original }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Both gates open?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-60, 320],
      "notes": "TRUE = member opted in AND admin released -> mint a short-TTL signed URL to the original. FALSE (the default) = at least one gate closed -> serve only the blurred/redacted image."
    },
    {
      "parameters": {},
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "RELEASE → signed URL to original",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [180, 200],
      "notes": "In the MVP (src/lib/photo.ts): a short-TTL signed URL is server-minted for the original. The source_image_path column stays REVOKE'd; the client never reads it directly."
    },
    {
      "parameters": {},
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "WITHHOLD → blurred image only",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [180, 440],
      "notes": "The default, safe path: members see only the blurred/redacted image. The original is never exposed without BOTH explicit consents."
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Consent Inputs", "type": "main", "index": 0 }]] },
    "Consent Inputs": { "main": [[{ "node": "Double-Gate Consent (no AI)", "type": "main", "index": 0 }]] },
    "Double-Gate Consent (no AI)": { "main": [[{ "node": "Both gates open?", "type": "main", "index": 0 }]] },
    "Both gates open?": {
      "main": [
        [{ "node": "RELEASE → signed URL to original", "type": "main", "index": 0 }],
        [{ "node": "WITHHOLD → blurred image only", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
